/91920.png
/junko_plate.png
/kiyotaka_plate.png
/PC Computer - Danganronpa Trigger Happy Havoc - Backgrounds (1)
/PC Computer - Danganronpa Trigger Happy Havoc - Backgrounds (1).zip
/PC Computer - SteinsGate Steam HD Edition - Akihabara
/PC Computer - SteinsGate Steam HD Edition - Akihabara.zip